.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: url("https://w0.peakpx.com/wallpaper/869/156/HD-wallpaper-village-greengrocer-people-fruits-shop-painting-vegetables-dog-artwork.jpg"); /* Make sure this path is correct */
  background-size: cover;
  background-position: center;
}

.container {
  text-align: center;
  padding: 20px;
  border: 1px solid black;
  width: 500px;
  border-radius: 8px; 
  color: black; 
  background-color: white;
}


.search-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
}

.fruit-item {
  padding: 5px;
  border-bottom: 1px solid #eee;
  font-size: 22px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

.fruit-item:last-child {
  border-bottom: none;
}

.header {
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.8); /* Optional: Add some background to the header for readability */
  padding: 10px;
  border-radius: 5px;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}